/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.users {
    table-layout: fixed;
    width: 600px;
    border-collapse: collapse;
}

.users td {
    padding: 10px;
}

.users th {
    color: white;
    background-color: darkslateblue;
    padding: 10px;
}

.users tr:nth-child(even) {
    background-color: #eee;
}

.users tr:nth-child(odd) {
    background-color: #fff;
}

.new_link {
    background-color: royalblue;
    font-weight: bold;
    padding: 10px;
    color: white !important;
    text-decoration: none;
}

.new_link:hover {
    text-decoration: underline;
}

.tools {
    list-style: none;
}

h2 {
    width: 560px;
    padding: 20px 20px;
    color: white;
    background-color: navy;
}
